@import "tailwindcss";

@layer utilities {
    .container {
        center: true;
        margin: 0px auto;
        padding: 1rem
    }

    .hoverEffect {
       @apply transition-all duration-300 ease-in-out;
    }
}


body {
    margin: 0px;
    padding: 0px;
}
